ul.pure-g
  each order in orders
    li.pure-u-1.order-li
      .order-box(data-id=order.id)
        include orders-items-
        .pure-g.order-desc
          if order.message
            .pure-u-1
              .message-box
                span.trailing 备注 :&nbsp;
                span.message= order.message
          .info-box.pure-u-1
            div
              span.trailing 收货人 :&nbsp;
              span= order.name
            div
              span.trailing 电话 :&nbsp;
              span= order.tel
            div
              span.trailing 地址 :&nbsp;
              span= order.address
            div
              - _pay_way = ({offline:'货到付款',online:'在线支付'})[order.pay_way]
              span.trailing 付款方式 :&nbsp;
              span= _pay_way
            if order.express.length
              div
                span.trailing 快递单号 :&nbsp;
                span= order.express.join(', ')
            if order.discount
              div
                span.trailing 优惠信息 :&nbsp;
                span= order.discount
              div
                span.trailing 原 价 :&nbsp;
                span ￥#{order.price.toFixed(1)}
          .pure-u-1-2
            .cost-box
              span.trailing 实付款 :
              span.price ￥#{order.cost.toFixed(1)}
          .pure-u-1-2
            .status-box
              span= order._status
          include orders-order-action-